
<div class="container">  
    <form id="contact" #f="ngForm" (ngSubmit)="onAddProduct(f)">
      <h3>Add a new  Product</h3>
       <br>
       <br>
       <fieldset>
        <input placeholder=" Product Name" type="text" class="form-control" ngModel name="productName" required >
      </fieldset>
       <fieldset>
        <input placeholder=" Price" type="text" ngModel name="price" required >
      </fieldset>
      <fieldset>
        <input placeholder="Colour" type="text" ngModel name="colour"required >
      </fieldset>
      <fieldset>
        <input placeholder=" Dimension" type="text" ngModel name="dimension" required>
      </fieldset>
      <fieldset>
        <input placeholder="Specification" type="text" ngModel name="specification" required>
      </fieldset>
      <fieldset>
        <input placeholder="Manufacture" type="text" ngModel name="manufacture" required>
      </fieldset>
      <fieldset>
        <input placeholder=" Quantity" type="number"  class="form-control" ngModel name="quantity" required>
      </fieldset>
      <fieldset>
        <input placeholder=" Product Category" type="number" class="form-control" ngModel name ="productCategory" required>
      </fieldset>
      <fieldset>
        <input placeholder=" Product URL" type="url" ngModel name="productURL" required>
      </fieldset>
      <br>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
   
    
  </div>

