
<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Add a new  Product</h3>
       <br>
       <br>
       <fieldset>
        <input placeholder=" Price" type="text"  name="price" required >
      </fieldset>
      <fieldset>
        <input placeholder="Colour" type="text" name="colour"required >
      </fieldset>
      <fieldset>
        <input placeholder=" Dimension" type="text" name="dimension" required>
      </fieldset>
      <fieldset>
        <input placeholder="Specification" type="text" name="specification" required>
      </fieldset>
      <fieldset>
        <input placeholder="Manufacture" type="text" name="manufacture" required>
      </fieldset>
      <fieldset>
        <input placeholder=" Quantity" type="number" class="form-control" name="quatity" required>
      </fieldset>
      <fieldset>
        <input placeholder=" Product Category" type="number" class="form-control" name ="productCategory" required>
      </fieldset>
       <fieldset>
        <input placeholder=" Product Name" type="text" class="form-control" name="productName" required >
      </fieldset>
      <fieldset>
        <input placeholder=" Product URL" type="url" name="productURL" required>
      </fieldset>
      <br>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending"><a routerLink="/viewprofile">Submit</a></button>
      </fieldset>
    </form>
   
    
  </div>

