<div class="container">
    <h2>Product Master</h2>         
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Product Master Name</th>
          <th>Product Master Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productmaster of productmasters;let i = index">
          <td>{{productmaster.productMasterName}}</td>
          <td>{{product.productMasterPhoneNumber}}</td>
          <td><button class="btn btn-danger" (click)="deleteProduct(i)">Delete</button></td>
        </tr>
        
      </tbody>
    </table>
  </div>

