<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Add Retailer</h3>
      <br>

      <fieldset>
        <input placeholder="Retailer name" type="text" class="form-control" >
      </fieldset>
      <fieldset>
        <input placeholder="Retailer Email Address" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Retailer Phone Number" type="tel" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Retailer Password" type="password" tabindex="3" required>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending"><a routerLink="/viewprofile">Submit</a></button>
      </fieldset>
    </form>
   
    
  </div>
