<div id="app">


    <!-- Header -->
    <header class="container overflow-hidden">
        <div class="w3-container w3-lobster">
            <p class="w3-xxxlarge">GreatOutDoors Wishlist</p>
        </div>

        <ul class="breadcrumb">
            <li>Home</li>
            <li>My wishlist</li>
        </ul>
        <span class="count">{{itemCount()}} items in the wishlist</span>
    </header>
    <!-- End Header -->

    <!-- Product List -->
    <section class="container">
        <div *ngIf="products.length > 0">
            <ul class="products">
                <li class="row" *ngFor="let product of products;let i = index">
                    <div class="col left">
                        <div class="thumbnail">
                            <a href="#">
                                <img :src={{product.productURL}} />
                            </a>
                        </div>
                        <div class="detail">
                            <div class="name"><a href="#">{{ product.productName }}</a></div>
                            <div class="description">{{ product.specification }}</div>

                            <p><mark class="bg-secondary text-white">Colour : {{ product.colour}}</mark></p>
                            <p><mark class="bg-info text-white">Dimension : {{ product.dimension }}</mark></p>

                            <div class="description">{{ product.manufacture}}</div>
                            <div class="price">{{ product.price | indianCurrency}}
                            </div>

                        </div>
                    </div>

                    <div class="col right">


                        <div class="remove">
                            <svg (click)="removeItem(i)" version="1.1" class="close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon 
                            points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812">
                            </polygon></svg>
                        </div>
                        <div>
                            <button class="btn btn-primary" (click)="addItemToCart(i)">Add To Cart</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="products.length===0" class="empty-product">
            <h3>There are no products in your wishlisht.</h3>
            <button (click)="backToShopping()">back to shopping</button>
        </div>
    </section>



</div>