<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <header>
            <a href="#">Hello User</a>
        </header>
        <ul class="nav list-group" >
            <li>
                <a href="/retailer" class="list-group-item list-group-item-action">
                    <i class="zmdi zmdi-view-dashboard"></i>Store
                </a>
            </li>
            <li>
                <a href="/order" class="list-group-item list-group-item-action">
                    <i class="zmdi zmdi-link"></i> My orders
                </a>
            </li>
            <li> 
                <a href="/cart" class="list-group-item list-group-item-action">
                    <i class="zmdi zmdi-widgets"></i>My Cart
                </a>
            </li>
            <li>
                <a href="/wishlist" class="list-group-item list-group-item-action">
                    <i class="zmdi zmdi-widgets"></i>My whishList
                </a>
            </li>
            <li>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="zmdi zmdi-widgets"></i>My Inventory
                </a>
            </li>
            <li>
                <a href="/viewaddress?id=0" class="list-group-item list-group-item-action">
                    <i class="zmdi zmdi-widgets"></i>Manage Address
                </a>
            </li>
            <li>
                <a href="retailer/edit" class="list-group-item list-group-item-action">
                    <i class="zmdi zmdi-widgets"></i>Edit Profile
                </a>
            </li>
            <li>
                <a href="/cancelorder" class="list-group-item list-group-item-action">
                    <i class="zmdi zmdi-calendar"></i> Canceled Products
                </a>
            </li>
            <li>
                <a (click)="logout()" class="list-group-item list-group-item-action">
                    <i class="zmdi zmdi-info-outline"></i> Logout
                </a>
            </li>
        </ul>
    </div>





    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                
                    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                        <div class="well profile">
                            <div class="col-sm-12">
                                <div class="col-xs-12 col-sm-8">
                                    <h2>{{username}}</h2><br>
                                    <p><strong>Address: </strong> Plot no 1046/5529 Shanti bhawan Iter college road,bbsr </p><br>
                                    <p><strong>Pin code: </strong> 234562 </p><br>
                                    <p><strong>Phone No: </strong>{{phoneno}}</p><br>
                                    <p><strong>E-mail: </strong>{{email}}</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                
                
            </div>
        </div>
    
   
</div>