<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Admin</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Master</label>
        <div class="login-form">
            <form #authAdminSigninForm="ngForm" (ngSubmit)="onAdminSignin(authAdminSigninForm)" class="sign-in-htm">
                <div class="group">
                    <br><br>
                    <label for="email" class="label">E-MAIL</label>
                    <input id="email" type="email" class="input" placeholder="Admin email" ngModel required email>
                </div>
                <div class="group">
                    <label for="password" class="label">PASSWORD</label>
                    <input id="password" type="password" class="input" placeholder="Admin Password" ngModel required minlength="6">
                </div>
                <br>
                <div class="group">
                    <input type="submit" class="button" value="Admin Sign In">
                </div>
                <div class="foot-lnk">
                    <a href="/">Already Member?</a>
                </div>
            </form>

            <form #authMasterSigninForm="ngForm" (ngSubmit)="onMasterSignin(authMasterSigninForm)" class="sign-up-htm">
                <div class="group">
                    <br><br>
                    <label for="email" class="label">E-MAIL</label>
                    <input id="email" type="email" class="input" placeholder="Product master email" ngModel required email>
                </div>
                <div class="group">
                    <label for="password" class="label">PASSWORD</label>
                    <input id="password" type="password" class="input" placeholder="Product master Password" ngModel required minlength="6">
                </div>
                <br>
                <div class="group">
                    <input type="submit" class="button" value="Sign In">
                </div>
                <div class="foot-lnk">
                    <a href="/">Already Member?</a>
                </div>
            </form>
        </div>
    </div>
</div>