<div class="container">
    <h2>Products</h2>         
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products;let i = index">
          <td>{{product.productId}}</td>
          <td>{{product.productName}}</td>
          <td>₹{{product.price}}</td>
          <td><button class="btn btn-danger" (click)="deleteProduct(i)">Delete</button></td>
        </tr>
        
      </tbody>
    </table>
  </div>
  
