<div class="header" *ngIf="nav.visible">
    <img src="https://i.imgur.com/ebqRTYo.png" alt= "Great OutDoors" class="logo">
    <div class="header-left" routerLinkActive="active">
            <a href="/home" class="nav-link" routerLink="home">Home </a>

            <a href="/auth" class="nav-link" routerLink="auth" *ngIf="!isLoggedIn" >Products </a>

            <a href="/user" class="nav-link" routerLink="user"*ngIf="isLoggedIn" >Products </a>
        
            <a href="/admin" class="nav-link" routerLink="admin" *ngIf="showAdminBoard">Admin Board</a>
        
       
            <a href="/master" class="nav-link" routerLink="master" *ngIf="showProductMasterBoard">Poduct Master BSoard</a>
       
        
            <a href="/user" class="nav-link" *ngIf="showUserBoard" routerLink="user">User</a>
        
      
            <a href="/retailer" class="nav-link" *ngIf="showRetailerBoard" routerLink="retailer">Retailer Board</a>
        
    </div>

    <div class="header-right" *ngIf="!isLoggedIn">
        
            <a href="/auth" class="nav-link" routerLink="auth">Sign in</a>
        
    </div>

    <div class="header-right" *ngIf="isLoggedIn">

            <a href class="nav-link" (click)="logout()">LogOut</a>
    
    </div>
</div>