
<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Hello Admin</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#">
            <i class="zmdi zmdi-view-dashboard"></i> Dashboard
          </a>
        </li>
        <li>
          <a routerLink="/adminform">
            <i class="zmdi zmdi-link"></i> Add Product Master
          </a>
        </li>
        <li>
            <a href="#">
              <i class="zmdi zmdi-calendar"></i> View Product Master
            </a>
          </li>
        <li>
          <a routerLink="/retailerform">
            <i class="zmdi zmdi-widgets"></i>Add Retailer
          </a>
        </li>
        <li>
            <a href="#">
              <i class="zmdi zmdi-widgets"></i>View Retailer
            </a>
          </li>
        
        <li>
          <a href="#">
            <i class="zmdi zmdi-info-outline"></i> View Shelf Time Report
          </a>
        </li>
        <li>
            <a href="#">
              <i class="zmdi zmdi-info-outline"></i> View Delivery Time Report
            </a>
          </li>
          <li>
            <a href="#">
              <i class="zmdi zmdi-info-outline"></i> View Growth Report
            </a>
          </li>
          <li>
            <a href="#">
              <i class="zmdi zmdi-info-outline"></i> View Revenue Report
            </a>
          </li>
          <li>
            <a href="#">
              <i class="zmdi zmdi-info-outline"></i> Log out
            </a>
          </li>
      </ul>
    </div>