.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

.carousel-inner {
    height: 600px;
    width: 100%;
}

.responsive {
    width: 100%;
    height: 400px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding-left: 20px;
    padding-right: 20px;
}

.column img {
    border-radius: 100px;
}


/* Clearfix (clear floats) */

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    background-color: none;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: black;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.newimage {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.column:hover .image {
    opacity: 0.3;
}

.column:hover .middle {
    opacity: 1;
}

footer {
    padding: 35px 50px;
    background: #666;
    color: white;
    text-align: center;
}