
<br>
<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Hello ProductMaster</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#">
            <i class="zmdi zmdi-view-dashboard"></i>Home
          </a>
        </li>
        <li>
            <a routerLink="add">
              <i class="zmdi zmdi-link"></i>Add product
            </a>
          </li>
        <li>
            <a routerLink="view">
              <i class="zmdi zmdi-link"></i> View all product
            </a>
          </li>
          <li>
            <a href="#">
              <i class="zmdi zmdi-info-outline"></i> Log out
            </a>
          </li>
      </ul>
    </div>